
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.gallery-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  
}

.gallery .gallery-items .items{
    height: 400px;
    width: 310px;
    background-color: rgb(116, 184, 189);
    border-radius: 30px;
    margin: 20px 10px 20px 10px;     
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 14px 2px rgb(189, 189, 189);
}

.gallery .gallery-items .items .img{
   width: 300px;
   border-radius: 30px;
}

.gallery .gallery-items .items .img h2{
    text-align: center;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px 0 5px 0;
}

.gallery .gallery-items .items .img p{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.gallery .gallery-items .items .img img{
   max-width: 100%;
   height: auto;
   border-radius: 30px;
   transition:  all;
   object-fit: cover;
   
}

.gallery .gallery-items .items .img img:hover{
transform: scaleX(-1);
}

/* paginaion*/

.pagination{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.pagination div{
    display: inline-block;
    margin: 0px 10px;
}

.pagination .prev, .pagination .next{
    color: black;
    border: 1px solid black;
    padding: 10px 15px ;
    font-size: 16px;
    border-radius: 10px;
}


.pagination .prev:hover, .pagination .next:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    background-color: black;
    color: white;
    cursor: pointer;

}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

/* Disable prev/next buttons */
.disable {
    opacity: 0.5;
    pointer-events: none; /* Prevent clicking */
}